[Unit]
Description=spring-boot-microservice-template
After=syslog.target
 
[Service]
User=spring
EnvironmentFile=-/microservices/spring-boot-microservice-template/current-application.conf
WorkingDirectory=/microservices/spring-boot-microservice-template
ExecStart=/usr/lib/jvm/java-openjdk/bin/java $JAVA_OPTS $LOGGING -jar -Dname=${APP_NAME} current-application
RestartSec=10
Restart=on-failure
SuccessExitStatus=143
 
[Install]
WantedBy=multi-user.target